/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fcfcfc;
  text-align: center;
}

.page-content, .home {
  margin-top: 200px;
  z-index: 100;
}

.site-header {
  margin-top: 54px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.site-title {
  text-transform: lowercase;
  font-size: 72px;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: #9D6FA3;
}

a {
  color: #afafaf;
  text-decoration: none;
}

a:hover {
  color: #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
}

.homepage-post {
  text-align: center;
  margin: 64px;
}

.description {
  width: 500px;
  text-align: right;
  margin: 16px auto;
  font-style: italic;
}

img {
  width: 500px;
}
img.square {
  width: 500px;
}

img.wide {
  width: 1000px;
}
