/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "Arbutus Slab", Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fcfcfc;
  text-align: center;
}


.site-header {
  margin-top: 54px;
  left: 0;
  right: 0;
  top: 0;
}

.site-title {
  font-size: 26px;
}

a {
  color: #bfbfbf;
  text-decoration: none;
  border-bottom: 1px solid #dfdfdf;
}

a:hover {
  color: #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
}

.homepage-post {
  text-align: center;
  margin: 64px;
}

.description {
  width: 468px;
  text-align: right;
  margin: auto;
  font-size: 14px;
  padding: 8px 16px;
}

img {
  width: 500px;
}
img.square {
  width: 500px;
}

img.wide {
  width: 1000px;
}

.disclaimer {
  width: 500px;
  margin: auto;
}

.disclaimer p {
  margin: 24px;
  text-align: left;
}
